.header{
    height: 55px;
    width: 100%;
}
.headerLeft{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left:5px;
}
img{
    border-radius: 50%;
}
.headerRight{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 5px;
}